<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AvrilWriters{% endblock %}</title>
</head>

<body class="bg-gray-50 h-screen flex overflow-hidden">

    {% include "partials/sidebar.html" %}

    <div class="flex-1 flex flex-col h-full overflow-hidden">
        {% include "partials/header.html" %}

        <main class="flex-1 overflow-y-auto p-4 md:p-8 bg-gray-50">
            {% block content %}{% endblock %}
        </main>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const overlay = document.getElementById('sidebar-overlay');

            sidebar.classList.toggle('-translate-x-full');
            overlay.classList.toggle('hidden');
        }
    </script>

</body>

</html>